In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
user = 'sa'
password = '********'
server = '**********'
db = 'sistema'
engine_destino = create_engine('mssql+pyodbc://'+user+':'+password+'@'+server+'/'+db+'?Driver={SQL SERVER}')

C:\Users\Maykon\AppData\Local\Temp/ipykernel_7504/4163926374.py:5: SAWarning: No driver name specified; this is expected by PyODBC when using DSN-less connections
  engine_destino = create_engine('mssql+pyodbc://'+user+':'+password+'@'+server+'/'+db+'?Driver={SQL SERVER}')

In [3]:
user = 'sa'
password = 'Genius01*10'
server = 'DESKTOP-852KOCR\SQLEXPRESS'
db = 'AdventureWorks2019'
engine_origem = create_engine('mssql+pyodbc://'+user+':'+password+'@'+server+'/'+db+'?Driver={SQL SERVER}')

C:\Users\Maykon\AppData\Local\Temp/ipykernel_7504/3455220355.py:5: SAWarning: No driver name specified; this is expected by PyODBC when using DSN-less connections
  engine_origem = create_engine('mssql+pyodbc://'+user+':'+password+'@'+server+'/'+db+'?Driver={SQL SERVER}')

In [4]:
sql = "select * from Person.AddressType"

In [5]:
df_tipopessoas = pd.read_sql(sql,con = engine_origem)

In [6]:
df_tipopessoas.to_sql('TIPOPESSOAS', con=engine_destino, index=False, if_exists='replace')

In [7]:
df_tipopessoas

,AddressTypeID,Name,rowguid,ModifiedDate
0,1,Billing,B84F78B1-4EFE-4A0E-8CB7-70E9F112F886,2008-04-30
1,2,Home,41BC2FF6-F0FC-475F-8EB9-CEC0805AA0F2,2008-04-30
2,3,Main Office,8EEEC28C-07A2-4FB9-AD0A-42D4A0BBC575,2008-04-30
3,4,Primary,24CB3088-4345-47C4-86C5-17B535133D1E,2008-04-30
4,5,Shipping,B29DA3F8-19A3-47DA-9DAA-15C84F4A83A5,2008-04-30
5,6,Archive,A67F238A-5BA2-444B-966C-0467ED9C427F,2008-04-30