In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
user = '*********'
password = '********'
server = '**************'
db = '*********'
engine_destino = create_engine('mssql+pyodbc://'+user+':'+password+'@'+server+'/'+db+'?Driver={SQL SERVER}')

C:\Users\Maykon\AppData\Local\Temp/ipykernel_8120/4163926374.py:5: SAWarning: No driver name specified; this is expected by PyODBC when using DSN-less connections
  engine_destino = create_engine('mssql+pyodbc://'+user+':'+password+'@'+server+'/'+db+'?Driver={SQL SERVER}')

In [5]:
user = 'sa'
password = 'Genius01*10'
server = 'DESKTOP-852KOCR\SQLEXPRESS'
db = 'AdventureWorks2019'
engine_origem = create_engine('mssql+pyodbc://'+user+':'+password+'@'+server+'/'+db+'?Driver={SQL SERVER}')

C:\Users\Maykon\AppData\Local\Temp/ipykernel_8120/3455220355.py:5: SAWarning: No driver name specified; this is expected by PyODBC when using DSN-less connections
  engine_origem = create_engine('mssql+pyodbc://'+user+':'+password+'@'+server+'/'+db+'?Driver={SQL SERVER}')

In [6]:
sql = "SELECT * FROM Person.ContactType"

In [7]:
df_ctype = pd.read_sql(sql,con = engine_origem)

In [8]:
df_ctype.to_sql('CONTACTTYPE', con=engine_destino, index=False, if_exists='replace')

In [9]:
df_ctype

    ContactTypeID                             Name ModifiedDate
0               1               Accounting Manager   2008-04-30
1               2            Assistant Sales Agent   2008-04-30
2               3   Assistant Sales Representative   2008-04-30
3               4      Coordinator Foreign Markets   2008-04-30
4               5             Export Administrator   2008-04-30
5               6  International Marketing Manager   2008-04-30
6               7              Marketing Assistant   2008-04-30
7               8                Marketing Manager   2008-04-30
8               9         Marketing Representative   2008-04-30
9              10              Order Administrator   2008-04-30
10             11                            Owner   2008-04-30
11             12        Owner/Marketing Assistant   2008-04-30
12             13                  Product Manager   2008-04-30
13             14                 Purchasing Agent   2008-04-30
14             15               Purchasing Manager   2008-04-30
15             16  Regional Account Representative   2008-04-30
16             17                      Sales Agent   2008-04-30
17             18                  Sales Associate   2008-04-30
18             19                    Sales Manager   2008-04-30
19             20             Sales Representative   2008-04-30