In [2]:
import pandas as pd
from sqlalchemy import create_engine
from pandasql import sqldf

In [3]:
user = 'sa'
password = '*****************'
server = '*******************'
db = 'sistema'
conexao = create_engine('mssql+pyodbc://'+user+':'+password+'@'+server+'/'+db+'?Driver={SQL SERVER}')

C:\Users\Maykon\AppData\Local\Temp/ipykernel_10468/2548603454.py:5: SAWarning: No driver name specified; this is expected by PyODBC when using DSN-less connections
  conexao = create_engine('mssql+pyodbc://'+user+':'+password+'@'+server+'/'+db+'?Driver={SQL SERVER}')

In [4]:
sql_produto = """ SELECT ProductID,
      Name as produto,
      Color,
      ProductSubcategoryID,
      ProductModelID
      
  FROM [dbo].[PRODUCTION.PRODUCT]
"""

In [5]:
df_produto = pd.read_sql(sql_produto,con = conexao)

In [6]:
sql_produto_model = """
SELECT ProductModelID
      ,Name as modelo
      
  FROM dbo.PRODUCT_MODEL"""

In [7]:
df_produto_model = pd.read_sql(sql_produto,con = conexao)

In [8]:
sql_categoria = """ SELECT ProductCategoryID
      ,Name as categoria
  FROM dbo.PRODUCTIONCATEGORY"""

In [9]:
df_categoria = pd.read_sql(sql_categoria,con = conexao)

In [10]:
sql_subcategoria = """SELECT ProductSubcategoryID
      ,ProductCategoryID
      ,Name as subcategoria
  FROM dbo.SUBCATEGORIA"""

In [11]:
df_subcategoria = pd.read_sql(sql_subcategoria,con = conexao)

In [12]:
df_produto = sqldf(""" select *  from df_produto p
                        inner join df_subcategoria s
                        on p.ProductSubcategoryID = s.ProductSubcategoryID
                   """)

In [13]:
del df_subcategoria

In [14]:
df_produto = sqldf(""" select * from df_produto p
                        inner join df_categoria c
                        on p.ProductCategoryID = c.ProductCategoryID
                   """)

In [15]:
del df_categoria

In [16]:
df_produto = sqldf(""" select p.produto,p.Color,p.subcategoria,p.categoria from df_produto p
                        inner join df_produto_model m
                        on p.ProductModelID = m.ProductModelID
                   """)

In [17]:
df_produto = df_produto[['produto','Color','subcategoria','categoria']]

In [18]:
df_produtos = df_produto.rename(columns={'ProductID' :'codigo_produto','Name':'nome_produto','Color':'Cor'})

In [19]:
df_produto

                        produto  Color subcategoria   categoria
0     HL Road Frame - Black, 58  Black  Road Frames  Components
1     HL Road Frame - Black, 58  Black  Road Frames  Components
2     HL Road Frame - Black, 58  Black  Road Frames  Components
3     HL Road Frame - Black, 58  Black  Road Frames  Components
4     HL Road Frame - Black, 58  Black  Road Frames  Components
...                         ...    ...          ...         ...
1636         Road-750 Black, 48  Black   Road Bikes       Bikes
1637         Road-750 Black, 52  Black   Road Bikes       Bikes
1638         Road-750 Black, 52  Black   Road Bikes       Bikes
1639         Road-750 Black, 52  Black   Road Bikes       Bikes
1640         Road-750 Black, 52  Black   Road Bikes       Bikes

[1641 rows x 4 columns]