In [2]:
import pandas as pd
from sqlalchemy import create_engine
from pandasql import sqldf

In [3]:
user = 'sa'
password = 'Genius01*10'
server = 'DESKTOP-852KOCR\SQLEXPRESS'
db = 'sistema'
conexao = create_engine('mssql+pyodbc://'+user+':'+password+'@'+server+'/'+db+'?Driver={SQL SERVER}')

C:\Users\Maykon\AppData\Local\Temp/ipykernel_6268/2548603454.py:5: SAWarning: No driver name specified; this is expected by PyODBC when using DSN-less connections
  conexao = create_engine('mssql+pyodbc://'+user+':'+password+'@'+server+'/'+db+'?Driver={SQL SERVER}')

In [4]:
sql_cliente = """SELECT BusinessEntityID
      ,PersonType
      ,NameStyle
      ,Title
      ,FirstName
      ,MiddleName
      ,LastName
      ,Suffix
      ,EmailPromotion
      ,AdditionalContactInfo
      ,rowguid
      ,ModifiedDate
  FROM dbo.PESSOA
"""

In [5]:
df_cliente = pd.read_sql(sql_cliente,con = conexao)

In [6]:
sql_endereco = """Select * from endereco"""

In [7]:
df_endereco = pd.read_sql(sql_endereco,con = conexao)

In [8]:
sql_personstate = """select * from personstate"""

In [9]:
df_personstate = pd.read_sql(sql_personstate,con = conexao)

In [10]:
sql_tipocontato = """Select * FROM CONTACTTYPE"""

In [11]:
df_tipocontato = pd.read_sql(sql_tipocontato,con = conexao)

In [12]:
sql_entity = """Select * FROM ENTITY"""

In [13]:
df_entity = pd.read_sql(sql_entity,con = conexao)

In [14]:
sql_entityadress = """Select * FROM ENTITYADRESS"""

In [15]:
df_entityadress = pd.read_sql(sql_entityadress,con = conexao)

In [16]:
sql_entitycontact = """Select * FROM ENTITYCONTACT"""

In [17]:
df_entitycontact = pd.read_sql(sql_entitycontact,con = conexao)

In [18]:
df_cliente = sqldf("""select * from df_cliente c
                       inner join df_entityadress a
                       on a.BusinessEntityID = c.BusinessEntityID
                        inner join df_endereco e
                        on e.AddressID = a.AddressID
                   """)

In [19]:
df_cliente = sqldf("""select *  from df_cliente c
                        inner join df_entity en
                        on en.BusinessEntityID = c.BusinessEntityID
                   """)

In [20]:
df_cliente = sqldf(""" select *  from df_cliente c
                        inner join df_personstate p
                        on p.StateProvinceID = c.StateProvinceID
                   """)

In [21]:
del df_personstate

In [22]:
del df_tipocontato

In [23]:
del df_entitycontact

In [24]:
del df_entity

In [25]:
del df_entityadress

In [26]:
df_cliente = df_cliente[['FirstName','LastName','PostalCode','Name','CountryRegionCode']]

In [27]:
df_cliente = df_cliente.rename(columns= {'Name':'CIDADE','FirstName':'NOME','LastName':'SOBRENOME','PostalCode':'CEP','CountryRegionCode':'CodigoRegional'})

In [28]:
df_cliente['NOME'] = df_cliente['NOME'].str.upper()
df_cliente['SOBRENOME'] = df_cliente['SOBRENOME'].str.upper()
df_cliente['CIDADE'] = df_cliente['CIDADE'].str.upper()

In [29]:
df_cliente

           NOME   SOBRENOME      CEP           CIDADE CodigoRegional
0           KEN     SÁNCHEZ    98006       WASHINGTON             US
1         TERRI       DUFFY    98055       WASHINGTON             US
2       ROBERTO  TAMBURELLO    98052       WASHINGTON             US
3           ROB     WALTERS    55402        MINNESOTA             US
4          GAIL    ERICKSON    98004       WASHINGTON             US
...         ...         ...      ...              ...            ...
18793   CRYSTAL         GUO  BD1 4SJ          ENGLAND             GB
18794  ISABELLA  RICHARDSON    90505       CALIFORNIA             US
18795   CRYSTAL          HE    98312       WASHINGTON             US
18796   CRYSTAL       ZHENG    78000          YVELINE             FR
18797   CRYSTAL          HU     2010  NEW SOUTH WALES             AU

[18798 rows x 5 columns]